:root{
    --font-family:fantasy;
}
body{
    background-color:black;
}

header{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-end;
    width: 100%;
}
h1 {
    display:flex;
    justify-content:center;
    color:white;
    border: 30px;
    border-radius: 40px;
    height:80px;
    width: 600px;
    padding: 40px;
    background-image: linear-gradient(darkblue, black,lightblue);
    font-family:var(--font-family);
    font-size:50px;
    
} 
    
 .subhead{
    display:flex;
    justify-content: flex-end;
    align-items: baseline;
    border-style: groove;
    background-image:linear-gradient(90deg,darkblue,white,lightblue);
    border:200px;
    height:100px;
    color:darkblue;
    font-weight: bolder;
    font-family:var(--font-family);
    font-size:xx-large;
    padding-right: 40px;
    padding-top: 20px;
}
nav{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-end;
}

ul li{
    display:inline;
    font-weight: bold;
    font-family:var(--font-family);

}
ul{
    display:flex;
    justify-content:end;
    
}


.me{
    margin:15px;

}
.work{
    margin:15px;
}
.contact{
    margin:15px;
}
.resume{
    margin:15px;
}


.side{
    line-height:10;
    column-count:1;
    column-rule-style: double;
    position:static;
}

.first{
margin-top:10px;
margin-left:40px;
margin-bottom:70px;
width:10%;
height:200px;
border-width:50px;
border-color: darkblue;
border-right-style:groove;
background-color:black;
color:white;
font-family:var(--font-family);

}
  p{
    position:flex;
    justify-content: flex-start;
    align-content: flex-start;
    width:80%;
    border: 2px hidden black;
    padding:20px;
    margin-left:300px;
    margin-top: -250px;
    text-align: center;
    color: white;
    line-height:2;   
}
.second{
    margin-top:10px;
margin-left:40px;
margin-bottom:70px;
width:10%;
height:200px;
border-width:50px;
border-color: darkblue;
border-right-style:groove;
background-color:black; 
color:white;
font-family:var(--font-family);
}
.cardswork{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.card{
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius: 50px;
    padding:10px;
    margin-left:300px;
    margin-top:-250px;
    flex:0 0 70%;
    background-image:url("https://www.caribbeannewsdigital.com/sites/default/files/2020-08/xMSC_Cruises_protoclos_seguridad.jpg.pagespeed.ic.-Td2ZJEHlE.jpg");
    background-size:500px;
}
.forcards{
    display:flex;
    justify-content:flex-start;
    flex-flow:row wrap;
    align-content:space-around;
    margin-right:-100px;
    

}
.cardpair{
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius: 50px;
    padding:10px;
    margin-left:300px;
    margin-right:0px;
    width:500px;
    flex:0 0 500px; 
    background-image:url("./images/20210215_175223.jpg");  
    background-size:200px;
    
}
.gvty{
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius: 50px;
    padding:10px;
    margin-left:300px;
    margin-right:0px;
    width:500px;
    flex:0 0 500px; 
    background-image:url("https://3rdculturechildren.files.wordpress.com/2013/05/p5110093.jpg?w=516&h=386"); 
    background-size: 300px;  
}
.cardr{
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius: 50px;
    padding:10px;
    margin-left:50px;
    margin-right:0px;
    width:500px;
    flex:0 0 500px;   
    background-image:url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/fins-and-sharkys-at-the-pier-in-venice-florida-2-liesl-walsh.jpg");
    background-size:200px;
}
.rc{
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius: 50px;
    padding:10px;
    margin-left:50px;
    margin-right:0px;
    width:500px;
    flex:0 0 500px;   
    background-image:url("https://cdn.getyourguide.com/img/tour/58b729d6c3c22.jpeg/99.jpg");
    background-size:400px;
}
.third{
    margin-top:10px;
margin-left:40px;
margin-bottom:70px;
width:10%;
height:300px;
border-width:50px;
border-color: darkblue;
border-right-style:groove;
background-color:black;
color:white;
font-family:var(--font-family);
}
   h4{
       display:flex;
       justify-content:flex-end;
        color:navy;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
       background-color:transparent;
       border:1px;
       width:200px;
       height:100px;
       text-align: center;
       padding:0px;
       margin-top:-5px;
   } 
.bottom li{
    color:white;
    display:flex;
    justify-content: center;
    flex-direction: row;
}
 .number{
     margin-top:-200px;
     margin-left:100px;
     margin-right:100px;

 }
 .mail{
    margin-top:-200px;
     margin-left:100px;
     margin-right:100px;
 }
 .git{
    margin-top:-200px;
    margin-left:100px;
    margin-right:100px;
 }
 .fb{
    margin-top:-200px;
     margin: left 100px;
     margin-right:100px;
 }
 .linkdn{
    margin-top:-200px;
     margin-left:100px;
     margin-right:100px;
 }
 a{
     color:navy;
     font-weight: bolder;
     text-decoration: none;
 }
 .cardswork :hover{
   filter:brightness(4);
   cursor: pointer;
 }
 .forcards :hover{
     filter: brightness(4);
     cursor:pointer;
     
 }
 
     
 

